<h2> Here are <%= @stylist.name() %>'s clients</h2>

<%  if @stylist.clients().any?() %>
  <ul>
    <% @stylist.clients().each() do |client| %>
    <li>Name: <%= client.name() %>.</li>
    <% end %>
  </ul>
<% else %>
  <p>This stylist doesn't appear to have any clients!</p>
<% end %>

<% if @clients.any?() %>
<h4>Add a client</h4>

<form action="/stylist/<%= @stylist.id() %>" method="post">
  <input type ="hidden" name = "_method" value="patch">

  <label for="client_id">Select a Client</label>
  <select id='client_id' name='client_id' type='text'>
    <% @clients.each() do |client| %>
    <option value="<%= client.id()%>"> <%= client.name() %> </option>
    <% end %>
  </select>

  <button type = "submit"> Add </button>
</form>
<% end %>

<a href="/">Back</a>
